.img-width-fix {
	max-width: 100%;
}

.card-footer {
	color: gray;
}

.ol {
	background-color: red;
}

/* profile.css */
html {
  background-color: #f5f7f9;
}

body {
  
  color: #69707a;
  font-family: 'Indie Flower', cursive;
}

strong {
  color: #222324;
}

.navbar {
  background: #FFB6C1;
}

.btn {
  font-weight: 300;
}

.btn-primary {
  background: #FFB6C1;
  border-color: #FFB6C1;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:active:focus {
  background: #e05164;
  border-color: #e05164;
}

.card {
  border-color: #ccc;
}

.card-title {
  color: #FFB6C1;
  font-weight: 300;
}

.card-block small {
  float: right;
}

.description {
  background-image: url("../img/bg2.jpg");
  background-repeat: repeat-x;
}

/* Additional stuff for index.html page */
.jumbotron {
  background-image: url("../img/bg2.jpg");
  background-size: cover;
  color: white;
}

.description2 {
	background-image: url("../img/bg5.jpg");
  background-repeat: repeat-x;
}

.description3 {
		background-image: url("../img/bg6.jpg");
  background-repeat: repeat-x;
}

.description4 {
		background-image: url("../img/bg3.jpg");
		background-size: 100%;
  background-repeat: repeat-x;
}


.description5 {
		background-image: url("../img/bg7.jpg");
  background-repeat: repeat-x;
}

.description6 {
		background-image: url("../img/bg8.jpg");
  background-repeat: repeat-x;
}

.description7 {
		background-image: url("../img/bg9.jpg");
  background-repeat: repeat-x;
}
